---
import Base from "@/layouts/Base.astro";
import Hero from "@/components/Hero.astro";
import Workflow from "@/components/Workflow.astro";
import SetupHelpers from "@/components/SetupHelpers.astro";
import References from "@/components/References.astro";
import MarkdownReference from "@/components/MarkdownReference.astro";
import CallToAction from "@/components/CallToAction.astro";
import Footer from "@/components/Footer.astro";
---

<Base>
  <main>
    <Hero />
    <Workflow />
    <SetupHelpers />
    <References />
    <MarkdownReference />
    <CallToAction />
  </main>
  <Footer />
</Base>
