---
import Base from "@/layouts/Base.astro";
import Hero from "@/components/Hero.astro";
import Workflow from "@/components/Workflow.astro";
import References from "@/components/References.astro";
import MarkdownReference from "@/components/MarkdownReference.astro";
import Examples from "@/components/Examples.astro";
import Footer from "@/components/Footer.astro";
---

<Base>
  <main>
    <Hero />
    <Workflow />
    <References />
    <MarkdownReference />
    <Examples />
  </main>
  <Footer />
</Base>
